@page "/employees"
@inject IEmployeeService EmployeeService
@inject NavigationManager NavigationManager

<h3>Employees</h3>


<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in EmployeeService.Employees)
        {
            <tr>
                <td>@employee.Name</td>
                <td>@employee.Surname</td>
                <td>@employee.BirthDate</td>
                <td>
                    <button class="btn btn-primary"
                            @onclick="(() => ShowEmployee(employee.Id))">
                        <i class="oi oi-pencil"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    protected override async Task OnInitializedAsync()
    {
        await EmployeeService.GetAllEmployees();
    }


    void ShowEmployee(int id)
    {
        NavigationManager.NavigateTo($"employee/{id}");
    }


}
